@if(songs().length > 0) {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>artist</th>
                <th>genre</th>
                <th>duration</th>
                <th>rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(song of songs(); track song.id) {
                @if($index == indexEditSong()) {
                    <tr>
                        <th>{{song.id}}</th>
                        <td><input #title [value]="song.title"></td>
                        <td><input #artist [value]="song.artist"></td>
                        <td><input #genre [value]="song.genre"></td>
                        <td><input #duration [value]="song.duration"></td>
                        <td><input #rating [value]="song.rating"></td>

                        <td>
                            <button (click)="save($index, title, artist, genre, duration, rating)">Salva</button>
                            <button (click)="undo()">Annulla</button>
                        </td>             
                    </tr>
                } @else {
                    <tr>
                        <th>{{song.id}}</th>
                        <td>{{song.title}}</td>
                        <td>{{song.artist}}</td>
                        <td>{{song.genre}}</td>
                        <td>{{song.duration}}</td>
                        <td>{{song.rating}}</td>
                        <!-- La cessa successiva contiene alcuni bottoni per la modifica/cancellazione di canzoni -->
                        <td>
                            <button (click)="removeSong($index)">Elimina</button>
                            <button (click)="editSong($index)">Modifica</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>    
}
@else {
    <p>Non sno presenti canzoni nella playlist</p>
}